
ion-content{
background-color: var(--ion-color-primary);
display: block;
align-content: center;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

ion-img{
  width:  156.75px;
  height: 192.5px;
  margin: 0 auto;
}
