<ion-header>
  <ion-icon name="ionic-ios-arrow-back"></ion-icon>
  <ion-toolbar class="ion-padding">NÚMERO CELULAR</ion-toolbar>
  <ion-img class="progressBar"
  src="https://raw.githubusercontent.com/taciga30/Coink-Prueba-Tecnica/master/registro-app/src/assets/images/Grupo%2020670%402x.jpg"
  alt="Barra progreso"
></ion-img>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-img class="logo"
  src="https://raw.githubusercontent.com/taciga30/Coink-Prueba-Tecnica/master/registro-app/src/assets/images/Oink%402x.png"
  alt="Cerdito Coink"
></ion-img>
<ion-text>Para comenzar, por favor ingresa tu número celular.</ion-text>
<ion-item-divider></ion-item-divider>
<ion-input type="tel" placeholder="( X X X - X X X X X X )"></ion-input>

  <ion-button shape="round" class="button" id="buttonRegister">REGÍSTRATE</ion-button>
  <ion-button shape="round" class="button" id="buttonLogin" color="secondary">INGRESA</ion-button>
</ion-content>
