.logo{
  width: 125.97px;
  height: 154.7px;
}
#buttonLogin{
  color: var(--ion-color-secondary-contrast);
}
#buttonRegister{
  color: var(--ion-color-secondary);
}
.button{
  --border-radius: 40px;
  width: 326px;
  height: 50px;
}