

<ion-content [fullscreen]="true">
  <ion-img class="logo"
  src="https://raw.githubusercontent.com/taciga30/Coink-Prueba-Tecnica/master/registro-app/src/assets/images/Componente132x.png"
  alt="Logo Cerdito Coink"
></ion-img>
  <ion-text color="primary" class="ion-padding">LA ALCANCÍA QUE SIEMPRE TE ACOMPAÑA</ion-text>
  <ion-button shape="round" class="button" id="buttonRegister">REGÍSTRATE</ion-button>
  <ion-button shape="round" class="button" id="buttonLogin" color="secondary">INGRESA</ion-button>
</ion-content>
